ipython
jupyter
python-dotenv
kagglehub
pandas==2.2.2
requests
ipython
google
protobuf
openai
huggingface_hub
langchain-google-genai
google-ai-generativelanguage
langchain_community
google-genai
langchain_chroma